body, html {
    height:100%;
}

#bootstrap-overrides .container {
    overflow-y: scroll;
    height: calc(100% - 160px);
    margin-bottom: 5px;
}
#bootstrap-overrides .footer {
    height:80px;
    overflow-y:hidden;
    margin-top: -5px;
}
.btn-primary {
    background-color: #E0494B !important;
    border-color: #9E0F13  !important;
}